body {
  position: relative;
}
.jumbotron {
  background-image: url(img/awan.jpg);
  background-size: cover;
  padding-top: 7rem;
  height: 500px;
  background-attachment: fixed;
  background-position-y: -100px;
}
.projects {
  background-color: #e2edff;
  scroll-margin-top: 50px;
}
.card {
  height: 450px;
}
#about,
#contact {
  scroll-margin-top: 50px;
}
